fastapi
fastapi-azure-auth
uvicorn
dapr-ext-fastapi
sqlalchemy
psycopg2-binary
requests
python-dotenv
pyyaml
python-multipart
redis
prometheus-client
pydantic
httpx
mcp
pytesseract
pyautogui
img2table
numpy
pandas
openpyxl
opencv-python
pyyaml
pillow
xlrd
python-pptx
pgvector
litellm





